body {
margin-top: 1.0em;
background-color: #1D701D;
font-family: Arial,sans-serif;
color: #ffffff;
}
#container {
margin: 0 auto;
width: 700px;
}
h1 { font-size: 3.8em; font-family: serif; color: #yellow; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #yellow; }
h3 { text-align: center; color: #yellow; }
a { color: #yellow; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
code { background: #000; color: #fff; padding: 2px 5px; }
.gist pre { color: black; }
.highlight { color: yellow; }
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }

#example3 {
  margin-top: 10px;
  padding: 6px;
  display: inline-block;
  min-width: 200px;
  border: 2px dashed black;
}
